html {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}
::placeholder, input, textarea, select, option, button, a, p, span {
    font-family: 'Outfit', sans-serif;
}
:root {
    --mc: #141414;
    --nmc: #1b1b1b;
    --bg: rgb(19, 18, 18);
    --bg-2: rgb(61, 61, 61);
    --bg-3: rgb(60, 66, 78);
    --color: #f56c32;
    --color-2: #ead2b7;
}
.cst-g-w {
    max-width: 800px;
    margin: 0 auto;
}
main {
    min-height: 100vh;
    /* max-width: 1500px; */
    margin: 0 auto;
}
p, span {
    color: var(--color-2);
}
a, button, button span {
    color: var(--color);
}
button {
    cursor: pointer;
}
span {
    display: block;
}
img {
    display: block;
}
.p-c {
    width: 50px;
    height: 50px;
    background-color: var(--color-2);
    border-radius: 100%;
    cursor: pointer;
}
.p-c span{
    display: none;
}
.p-c i {
    font-size: 30px;
    position: relative;
    top: 1px;
}
.a-c.r-tt {
    width: 100%;
    object-fit: cover;
    left: auto;
    width: 80%;
}
.a-c {
    height: 100%;
}
.ctrl-mz {
    z-index: 2;
}
.ba-ck {
    font-size: 16px;
}
i {
    display: inline-block;
}
::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-thumb {
    width: 1px;
}
/* nav  */
header {
    background-color: var(--nmc);
    color: var(--color-2);
    width: 20%;
    max-width: 240px;
}
ul {
    list-style: none;
}

.m-n-i{
    margin-bottom: 23px;
    padding: 2px 20px;
    position: relative;
    cursor: pointer;
}
.m-n-i::before, .m-n-i::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 2px;
    height: 0%;
    background-color: var(--color);
    transition: 0.3s;
}
.m-n-i::before {
    bottom: 50%;
    border-top-right-radius: 3px;
}
.m-n-i::after {
    top: 50%;
    border-bottom-right-radius: 3px;
}
.m-n-i.ive::before, .m-n-i.ive::after {
    height: 50%;
}
.m-n-i span{
    display: block;
    margin-left: 16px;
}
.m-n-i.ive {
    color: var(--color);
}
/* nav ends  */
/* main  */
.main {
    background-color: rgb(20, 20, 20);
    position: relative;
    overflow: hidden;
    flex: 1;
    height: inherit;
}
.view-mz {
    height: 100%;
    z-index: 2;
    overflow-y: auto;
    transition: 0.3s ease-out;
}
/* animation  */
.view-mz.ing {
    transform: translateX(-110%);
}



/* view 1  */
.str-header {
    display: flex;
    align-items: center;
}
.b--s {
    flex: 1;
    margin-right: 40px;
    padding-bottom: 10px;
    gap: 7px;
    border-bottom: 2px solid var(--nmc);
}
.s-b-n {
    font-size: 16px;
    color: var(--color-2);
}
#ss {
    display: block;
    flex: 1;
    background-color: transparent;
    padding: 14px;
    border: none;
    font-size: 15px;
    outline: none;
    color: var(--color-2);
}
.s-type {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}
#s-t-btn {
    color: #777777;
}
.s-d-type {
    position: relative;
    display: inline-block;
    padding: 5px;
    font-size: 13px;
    width: 110px;
    border: 1px solid var(--color-2);
    cursor: pointer;
}
.s-d-type::after {
    content: "";
    display: inline-block;
    border-top: 0.4em solid var(--color-2);
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: none;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.s-drop {
    display: none;
    position: absolute;
    width: 110px;
    border: 1px solid var(--color-2);
    background-color: #ead2b7;
    top: 37px;
    left: 80px;
    z-index: 2;
}
.s-drop.ing {
    display: block;
}
.s-drop button {
    display: block;
    width: 100%;
    padding: 7px;
    color: var(--mc);
    transition: 0.3s ease;
}
.s-drop button:hover, .s-drop button.ing {
    background-color: #ffd4a2;
    color: var(--color);
}
.bk-s {
    flex-wrap: wrap;
    gap: 25px;
}
.bk {
    flex-grow: 1;
    max-width: 500px;
    border: 2px solid var(--nmc);
    background-color: #0f0f0f;
    min-height: 300px;
    /* border-radius: 12px; */
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.bk-s-s {
    justify-content: space-evenly;
    row-gap: 60px;
}
.b-save {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: var(--color);
    font-size: 14px;
    z-index: 1;
}
.b-ig {
    padding-bottom: 65%;
    position: relative;
}
.b-ig-gr {
position: relative;
}
.b-ig-gr .b-ig {
    width: 60%;
}
.b-ig-gr .b-ig img {
    bottom: 20px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.bk-rtd {
    padding: 20px;
    background-color: #16161621;
    position: absolute;
    right: 20px;
    width: 35%;
    height: 88%;
    top: 50%;
    transform: translateY(-50%);
}
.bk-rtd h6 {
    font-size: 16px;
    margin-bottom: 13px;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
}
.bk-rtd p {
    margin-bottom: 4px;
    font-size: 13px;
}
.sp-n {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 80%;
    object-fit: contain;
}
.d-lft {
    height: 100%;
}
.b-ct {
    color: var(--color-2);
    transform: translate(0);
    will-change: transform;
    transition: transform 0.2s ease;
}
.b-ct h3 {
    color: #fff;
}
#n-A {
    padding: 4px 9px;
    background-color: #ff070713;
    color: rgb(255, 188, 188);
    display: inline-block;
    margin-top: 10px;
}
.pri {
    font-size: 13px;
    color: var(--color);
    position: relative;
    /* top: 80px; */
}
.loc span, .type, .spc-r {
    margin-left: 6px;
}
.loc, .type {
    font-size: 13px;
}
.b-t-c-r {
    gap: 30px;
}
.b-t-c-r button {
    margin: 5px 0;
    padding: 7px 0px;
}


/* more details view */
.bk-d {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: translateX(100%);
    will-change: transform;
    transition: transform 0.34s linear;
}
.g-t-c-cst {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "detail"
    "more-detail";
    max-height: 95vh;
    padding: 80px 20px;
    max-width: 1100px;
    margin: 0 auto;
}
.de-ta-il {
    grid-area: detail;
    height: calc(100vh / 2 - 50px);
    min-height: 500px;
}
.de-ta-il > div:nth-child(1) {
    width: 30%;
}
/* .im-a-ge {
    grid-area: image;
} */
.m-de-ta-il {
    grid-area: more-detail;
    padding-top: 40px;
    border-top: 2px solid rgb(178, 178, 178);
        opacity: 1;
        transform: translateY(0);
        transition: 0.3s ease;
}
.m-de-ta-il > div {
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 30px;
}
.m-de-ta-il .flex > div {
    width: 20%;
    min-width: 200px;
}
.m-de-ta-il .flex > div:not(:first-child) span:last-child {
    color: rgb(218, 217, 217);
    display: inline-block;
    margin-top: 7px;
}
.md-b-p {
    margin-top: 47px;
}
.md-b-p > h5 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--color-2);
}
.md-b-p > p {
    color: #f5f5f5;
    line-height: 1.6;
}
.im-a-ge img {
    position: absolute;
    width: 62%;
    max-height: 100%;
    max-width: 500px;
    object-fit: contain;
    display: block;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    transition: all  600ms ease
}
.d-lft {
    min-height: 450px;
}
.b-ct h4 {
    font-weight: 800;
    font-size: 2rem;
}
.b-ct h2 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1.3px;
    margin: 20px 0;
}
.price-tag {
    font-size: 1.4rem;
    margin-bottom: 30px;
    transition: 0.2s ease;
}
.b-c {
    display: inline-block;
    padding: 11.5px 34px;
    background-color: #ffffffe7;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s ease;
}
.cr-div span {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 100%;
}
/* animation  */
.bk-d.ing {
    transform: translateX(0);
    background-color: var(--bg-3);
    animation: s-l 0.5s linear;
}
.d-tfm .im-a-ge img {
    transform: translate3d(-322px, -25%, 0);
}
.d-tfm .d-lft {
    align-items: flex-end !important;
    min-height: 520px;
}
.d-tfm .b-c, .d-tfm .price-tag, .d-tfm .m-de-ta-il {
    transform: translateY(100px);
    opacity: 0;
}
.bk-d:not(.d-tfm) .b-ct, .bk-d:not(.d-tfm) .b-ct .price-tag, .bk-d:not(.d-tfm) .b-ct .b-c, .bk-d:not(.d-tfm) .m-de-ta-il  {
    transition-delay: 0.2s;
}
.d-tfm .b-ct {
    transform: translateY(30%);
}
.sm-view.hid {
    height: 0%;
    overflow: hidden;
}
.sm-view {
    height: 100%;
    width: 38%;
    display: flex;
    align-items: center;
    padding: 80px 0;
    will-change: opacity;
    transition: opacity 0.23s ease;
    opacity: 0;
}
.sm-view.d-l-y {
    transition-delay: 0.2s;
}
.d-tfm .sm-view {
    height: 100%;
    opacity: 1;
    z-index: 4;
}
.sm-view span {
    cursor: pointer;
}
.eq-c {
    flex-wrap: wrap;
}
.eq-c > label {
    position: relative;
    width: 30%;
    height: 130px;
    border: 2px solid grey;
    padding-top: 6px;
    transition: 0.13s ease;
    cursor: pointer;
}
.eq-c label.ing, .eq-c input:checked + label, .sz-es span:hover, .sz-es span.ing {
    background-color: #ffffff42;
    border-color: var(--color-2);
}
.eq-c bdi {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 4px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--color-2);
}
.eq-c img {
    width: auto;
    height: 83%;
    margin: 0 auto;
}
.sz-es {
    margin: 45px 0;
    flex-wrap: wrap;
    gap: 10px;
}
.sz-es h6 {
    width: 100%;
}
.sz-es > div > label {
    width: 80px;
    height: 60px;
    border: 2px solid grey;
    color: var(--color-2);
    cursor: pointer;
        display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: 0.3s ease;
}
.sz-es > div > input:checked + label {
    border-color: solid var(--color);
    background-color: #ead2b739;
}
.ppE input {
    display: none;
}
select {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid var(--color-2);
    color: var(--color-2);
    font-size: 16px;
    margin-left: 10px;
    width: 90px;
    position: relative;
    top: -10px;
    outline: none;
    cursor: pointer;
}
.cl-c {
    margin-top: 30px;
}
.cl-c button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 14px;
    cursor: pointer;
    border: 2px solid transparent;
    }
    .c-pick.ing {
        border-color: var(--color-2);
    }
.ch-ut {
    margin-top: 45px;
}
.ch-ut button{
    width: 100%;
    padding: 14px 30px;
    text-align: center;
    background-color: var(--color);
    color: var(--color-2);
    font-weight: 800;
    font-size: 16px;
    margin-top: 4px;
    opacity: 1;
    box-shadow: 2px 12px 22px 0px #f56d3269;
    position: relative;
}
button.rented {
    cursor: not-allowed;
    opacity: 0.8;
}
.sm-view h6 {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--color-2);
}

/* view-2 */
.b-r-ion > div {
flex-wrap: wrap;
gap: 22px 0;
}
.b-r-ion .flex > div {
    min-width: 120px;
}
.b-r-ion h5 {
    color: var(--color-2);
    font-size: 11px;
}
.b-r-ion span {
    margin-top: 3px;
    font-size: 15px;
    color: var(--color);
}
.b-t-a-a {
    border-color: #666565;
    margin: 0 30px;
}
.l_o-n{
    position: relative;
    padding-left: 12px;
    padding-bottom: 30px;
    color: #777777;
    font-size: 25px;
}
.l_o-n h6 {
    font-weight: 200;
}
.l_o-n::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #5d5c5c;
    border-radius: 50%;
}
.l_o-n::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 2.75px;
    height: 100%;
    display: block;
    background-color: #777777;
    width: 0.5px;
}
.l_o-n.on {
    color: var(--color);
}
.l_o-n.on::before, .l_o-n.on::after {
    background-color: var(--color);
}
.a-f_l {
    padding-bottom: 0px;
}
.a-f_l::before {
    bottom: 0px;
    top: auto;
}
.a-f_l::after {
    transform: translateY(-10px);
}
.dp-b-t {
    padding: 12px 30px 20px 30px;
    position: relative;
}
.bk{
    overflow: visible;
}
.bk.tkn .b-ig, .bk.tkn .b-ct > div:nth-child(1) {
    opacity: 0.45;
}
.bk.tkn .b-ct button {
    background-color: #ff703316;
    padding-left: 6px;
    padding-right: 6px;
}
.b-q-ion{
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    height: auto;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    will-change: max-height;
    transition: max-height 0.4s ease;
    background-color: var(--bg-2);
    z-index: 1;
}
.b-q-ion.a-c {
    max-height: 300px;
}

/* popup  */
.pop-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    width: auto;
    will-change: transform;
    transform: translateY(200px);
    transition: 0.2s ease;
    z-index: 2;
}
.pop-up.ing {
    transform: translateY(0);
}
.p-gr {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    max-width: 400px;
    align-items: stretch;
    min-width: fit-content;
}
.p-gr > div {
    padding: 10px;
}
.pp-b {
    background-color: #2b2927;
}
.p-gr img {     
    display: block;
    width: 100%;
}
#pp-c {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 3px 10px;
    border-radius: 1px;
    color: var(--color);
    text-shadow:0px 0px 1px var(--color);
    font-size: 14px;
    font-weight: 400;
}
.p-c-txt {
    background-color: #1b1b1b;
    color: #fff;
}
.p-c-txt h2 {
    font-size: 18px;
    font-size: 17px;
}




@keyframes s-l {
    0% {
        transform: translateX(100%);
    }
    70% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}

@media(max-height: 900px) {
    div.sm-view {
        position: fixed;
        right: 20px;
    }
}
.btm-nav {
    opacity: 0.4;
}